body {
    margin: 0;
    background: #fff;
    font-family: 'Istok Web', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Russo One', sans-serif;*/
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}